**/*.git*
**/.vscode
**/*.pytest*

**/build
**/dist
**/*.egg-info
**/*.egg
**/*.pyc
**/*.swp

.tox
.coverage
html/*
**/__pycache__

docs/_build

**/tests
**/*env

*.yaml
*.md
*.csv
*.tsv
*.model

**/data
**/docs
**/examples
**/experiments
**/logs
**/storage
**/tests
