**/*.git*
**/.vscode

**/build
**/dist
**/*.egg-info
**/*.egg
**/*.pyc
**/*.swp

.tox
.coverage
html/*
**/__pycache__

docs/_build

**/tests
**/*env

*workdir

*.yaml
*.md
*.csv
*.tsv
*.model

experiments/*
logs/*
data/*
docker/*
examples/*
storage/*
tests/*
workdir/*
